@model XiaoQingWa_Work_Model.Entity.UserInfoEntity

<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="text" class="input-text" value="" placeholder="" id="UserName" name="UserName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="password" class="input-text" value="" placeholder="" id="PassWord" name="PassWord">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-7 col-sm-8 skin-minimal">
                <div class="radio-box">
                    <input name="UserSex" type="radio" id="sex-1" checked>
                    <label for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-2" name="UserSex">
                    <label for="sex-2">女</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sex-3" name="UserSex">
                    <label for="sex-3">保密</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>手机：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="text" class="input-text" value="" placeholder="" id="UserPhone" name="UserPhone">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="text" class="input-text" placeholder="@Html.Raw("@")" name="UserMail" id="UserMail">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-3 col-sm-2">地址：</label>
            <div class="formControls col-xs-7 col-sm-8">
                <input type="text" class="input-text" name="UserAddress" id="UserAddress">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-7 col-sm-8 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="button" id="btnSave" onclick="member_add()" value="提交">
            </div>
        </div>
    </form>
</article>

@section pagescripts{
    <script type="text/javascript">

        /*用户-删除*/
        function member_add() {
            var url = '@Url.Action("CreateUser")';
        var params = $('form').serializeArray();
        $("#btnSave").attr('disabled', true);
        $("#btnSave").val("保存中...");
        $.post(url, params, function (data) {

            if (data.Value == "success") {
                layer.msg(data.Text, { icon: 1, time: 1000 }, function () {
                    layer_close();
                });
            } else {
                $("#btnSave").removeAttr('disabled');
                $("#btnSave").val("保存");
                layer.msg(data.Text, { icon: 2, time: 1000 });
            }
        });
        }
    </script>
}
