@model IEnumerable<XiaoQingWa_Work_Model.Entity.PictureInfoEntity>
@section Header{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/plugins/lib/lightbox2/2.8.1/css/lightbox.css")" />
}
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 图片管理 <span class="c-gray en">&gt;</span> 图片展示 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="javascript:;" onclick="edit()" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe6df;</i> 编辑</a> <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
        <div class="portfolio-content">
            <ul class="cl portfolio-area">
                @foreach (var item in Model)
                {
                    <li class="item">
                        <div class="portfoliobox">
                            <input class="checkbox" name="" type="checkbox" value="">
                            <div class="picbox"><a href="@Html.DisplayFor(modelItem => item.FilePath)" data-lightbox="gallery" data-title="客厅1"><img src="@Html.DisplayFor(modelItem => item.FilePath)"></a></div>
                            <div class="textbox">客厅 </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    @section pagescripts{

        <!--请在下方写此页面业务相关的脚本-->
        <script type="text/javascript" src="@Url.Content("~/plugins/lib/lightbox2/2.8.1/js/lightbox.min.js")"></script>
        <script type="text/javascript">
            $(function () {
                $(".portfolio-area li").Huihover();
            });
        </script>
    }
</body>
